@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"].</h2>

<address>
    Descartes No. 104 Col. Nueva Anzures<br />
    México D.F. Del. Miguel Hidalgo, C.P. 11590<br />
    <abbr title="Phone">Tel:</abbr>
    (52)(55) 1036 - 0640 
</address>

<address>
    <strong>Ventas:</strong> <a href="mailto:ventas@rolan.com.mx">ventas@rolan.com.mx</a><br />
</address>
